<%- include('partials/header'); %>
	<div class="header">
        <h1>Wanna check if You are safe from Diabetics??</h1>
        <p>It's just a few clicks away, go check it out..</p>
        <a class="btn btn-danger" href="/signup">Try Now</a>
    </div>
<%- include('partials/footer'); %>