<%- include('partials/header'); %>
<% if(ans==1){ %>
    <h1>We're Sorry to say but you are probably a diabetic patient.</h1>
    <% }else{ %>
        <h1>Happy News,You are probably not a diabetic patient.</h1>
        <% } %> 
<%- include('partials/footer'); %>